body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #0e0e0e;
    background-color: #ffffff;
}

.card {
    background-color: #e1eef5;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h2 {
    margin-top: 0;
    font-size: 1.8em;
    color: #1f2937;
}

#choices {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.choice {
    padding: 12px 18px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #fcfcfc;
    font-weight: 500;
}

.choice:hover {
    background-color: #e0e9ff;
    border-color: #0066ff69;
}

button {
    padding: 10px 18px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s;
}

#nextBtn {
    background-color: #0f6bff;
}

#nextBtn:hover {
    background-color: #0949d3;
}

#prevBtn {
    background-color: #11efff;
}

#prevBtn:hover {
    background-color: #0cc6d3;
}

#submitBtn {
    background-color: #f91313;
}

#submitBtn:hover {
    background-color: #ba0c0c;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 700;
    color: #000000;
}